.homepage {
  height: 100vh;
  overflow-y: hidden;
}

.onboarding {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
}
.onboarding h1 {
  font-size: 6rem;
  font-weight: 800;
}
.options {
  width: 15%;
  border: 2px solid #212529;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  transition-duration: 0.4s;
}
.options:hover {
  background-color: #212529;
}
.options a {
  font-size: 1.5rem;
  font-weight: 500;
  width: 30%;
  text-decoration: none;
  color: #212529;
}
.options a:hover {
  color: white;
}
