.customerLoginPage {
    height: 100vh;
    background-color: black;
    background-image: url("./login.customer.background.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
}

.onboarding .btn {
    width: 215px;
    height: 40px; /* width */
    text-align: center;
    margin-bottom: 15px; /* spacing between buttons */
}

.onboarding .btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit; /* Ensures that the anchor tag inherits the text color from the button */
}


#button{
    color: rgb(96, 123, 66);
}


svg {
    fill: rgb(255, 255, 255);
}

.user {
    margin-bottom: 5vh;
}

