.container1 {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

h2 {
    align-items: center;
    justify-content: center;
}

.tabs {
    padding-top: 50px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: fadeInOut 2s ease-in-out; 
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  