.restaurant-container {
    padding: 0px;
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    height: 100vh;
    background-image: url("../../assets/background/paper_fibers.png");
    background-size: cover;
}
