.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  margin-right: 10px;
}
